
// color
$colorPrimary: #31b7c0;
$colorWarn: #e84e40;
$colorGray: #888;

// link
$linkColorDefault: #6a89cc;

// background
$bgColorDefault: #ebeced;
$bgColorActive: #ECECEC;

// line
$LineColorLight: #E5E5E5;
$LineColorDark: #BCBAB6;

// text
$textColorDefault: #333;
$textColorTitle: #333;
$textColorSubTitle: $colorGray;

